* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #222;
}


header {
    background: #1f2937;
    color: white;
    text-align: center;
    padding: 30px 20px;
}


header h1 {
    margin-bottom: 8px;
}


main {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}


/* DASHBOARD */

.dashboard {
    display: grid;
    grid-template-columns:
        repeat(4, 1fr);

    gap: 20px;

    margin-bottom: 30px;
}


.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;

    box-shadow:
        0 3px 10px
        rgba(0, 0, 0, 0.08);
}


.card h3 {
    margin-bottom: 10px;
}


.card p {
    font-size: 30px;
    font-weight: bold;
}


/* BOX */

.box {
    background: white;
    padding: 25px;
    margin-bottom: 25px;

    border-radius: 10px;

    box-shadow:
        0 3px 10px
        rgba(0, 0, 0, 0.08);
}


.box h2 {
    margin-bottom: 20px;
}


/* FORM */

form {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 12px;
}


input,
select,
button {
    padding: 12px;

    border-radius: 6px;

    border: 1px solid #ccc;

    font-size: 14px;
}


button {
    background: #2563eb;

    color: white;

    border: none;

    cursor: pointer;
}


button:hover {
    background: #1d4ed8;
}


/* TABLE */

.table-container {
    overflow-x: auto;
}


table {
    width: 100%;

    border-collapse: collapse;
}


th,
td {
    padding: 12px;

    border-bottom:
        1px solid #ddd;

    text-align: left;
}


th {
    background: #f1f5f9;
}


.delete-btn {
    background: #dc2626;
}


.delete-btn:hover {
    background: #b91c1c;
}


/* MOBILE */

@media (max-width: 900px) {

    .dashboard {
        grid-template-columns:
            repeat(2, 1fr);
    }


    form {
        grid-template-columns:
            repeat(2, 1fr);
    }
}


@media (max-width: 600px) {

    main {
        width: 95%;
    }


    .dashboard {
        grid-template-columns: 1fr;
    }


    form {
        grid-template-columns: 1fr;
    }


    header h1 {
        font-size: 24px;
    }

}